{
    "parserOptions": {
        "ecmaVersion": 6
    },
    "env": {
        "node": true
    },
    "globals": {
        
    },
    "extends": "airbnb-base",
    "rules": {
        "linebreak-style":"off",
        "indent": ["error",4],
        "no-plusplus":"off",
        "object-curly-newline":"off"
    }
}